@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
    margin: 0;
    padding: 0;
    block-size: border-box;
    font-family: 'Roboto', sans-serif;
}
h2{
    color: #181818;
    font-weight: bold;
    font-size: 18px;
    line-height: 100%;
}
h3{
    color: #181818;
    font-weight: bold;
    font-size: 14px;
    line-height: 100%; 
}
.big-numbers{
    color: #0275B1;
    font-size: 52px;
}
p{
    font-size: 14px;
    line-height: 21px;
}
header p{
    font-size: 11px;
}
.mini-text{
    font-size:10px;
    line-height: 15px;
    color: #181818;
}

/* Header */

header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-height: 80px;
    max-width: 1440px;
    align-items: center;
}
.logo img{
    width: 46px;
    height: 46px;
}
img{
    width: 100%;
    
}
.especific{
    padding-left: 30px;
}
.icons {
    display: flex;
    align-items: center;
    border-right: 1px solid #F4F4F4;
    border-left: 1px solid #F4F4F4;
}
.icons-content i {
    display:inline;
    color: black;
   
}
.especific-2{
    padding-right: 30px;
}
.hamburguer{
    text-align: center;
    padding-top: 10px;
    font-weight: bold;
    margin-right: 100px;
    padding-right:30px;
    padding-left:30px;
    border-right:1px solid #F4F4F4; 
    border-left: 1px solid #F4F4F4; 
}
header i{
    font-size: 20px;
}

.icons-content {
    text-align: center;
    margin:21px 30px 0 30px ;
    align-items: center;
    font-weight: bold;
}
.contact{
    width: 160px;
    display: flex;
    padding-left: 30px;
    width: 350px;  
    height: 80px;
    border-left: 1px solid #F4F4F4;    
    align-items: center;
    padding-right: 11px;
}
.logo{
    margin-left: 100px;
    margin-right: 60px;
}
header button{
    background-color: transparent;
    border: transparent;
    padding: 0 0 0 30px;
    color: #0275B1;
}
header input{
    color: #181818;
    border: transparent;
    font-family:'Roboto', sans-serif; ;
    font-size:17px ;
    width: 150px;

}
.btn{
    display: flex;
    align-items: center;
    padding-right: 150px;
    padding-left: 30px;
}
.btn i{
    color:#0275B1 ;
    margin-right: 30px;
}
main{
    max-width: 100%;
    background-color: #E5E5E5;
}

.contact img{
    width: 42px;
    height: 42px;
    padding:0 8px 5px 0;
    
}

.contact p{
    line-height: 0;
    font-size: 13px;
    text-align: left;
    color: #747474;    
}

.text-contact{

    width: 150px;
    text-align: center;
    padding:0 40px 0 0;
}
.text-contact a{
   text-decoration: none;
   color: green;
   font-size: 13px;
   font-weight: bold;
}
#nick{
    text-align: left;
    font-weight: bold;
    font-size: 15px;
    color: #181818;
}
.text-contact i{
    color: green;
    font-size:13px;
    font-weight: bold;
    margin-left: 3px;
}
.text-contact span{
    color: #747474;
    font-size: 13px;
    margin-left:6px;
}

